<h1>Contact</h1>
<address class="vcard">
  <span class="fn">Pedro Sanchez</span>
  <span class="adr">
    <span class="street-address">123 Fake St.</span>
    <span class="locality">Preston</span>, <span class="region">Idaho</span> <span class="postal-code">83263</span>
  </span>
  <span>Email: <a class="email" href="mailto:joe@example.com">pedro@vote-for-pedro.com</a></span>
  <span>Homepage: <a class="url" href="http://vote-for-pedro.com/">vote-for-pedro.com</a></span>
  <span>Phone: <span class="tel">+01.208.555.4567</span></span>
</address>